@use "global" as *;
.card__inner {
  display: inline-block;
  width: 100%;
  height: 100%;
  // 親.card
  position: absolute;
  top: 0;
  left: 0;
  @include mq(md) {
  }
  @include mq(xl) {
  }
}

// 擬似要素（画像）
.card__inner::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: rem(261);
  background-image: url(/images/Rectangle@2x.png);
  background-size: cover;
  background-color: #f00;
  @include mq(md) {
  }
  @include mq(xl) {
  }
}
