@use "global" as *;
.card {
  display: inline-block;
  max-width: rem(375);
  width: 100%;
  @include mq(md) {
    max-width: rem(896);
    width: 100%;
    height: rem(550);
  }
  @include mq(xl) {
  }
}
