@use "global" as *;
.card__contents--photo {
  display: inline-block;
  max-width: rem(375);
  width: 100%;
  aspect-ratio: 4/3;
  background-color: #f00;
  overflow: hidden;
  @include mq(md) {
  }
  @include mq(xl) {
  }
}

// 擬似要素
.card__contents--photo::before {
  display: inline-block;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url(/images/office@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  @include mq(md) {
  }
  @include mq(xl) {
  }
}
